<section class="userList w-100-p">
    <ng-container >
        <section  fxLayout="row" fxLayoutAlign="space-between center">
            <h2>User Permissions</h2>
            <!-- <mat-select #mySel placeholder="Select Role" [(ngModel)]="selectedElements" 
            class="outer-layer boxStyle" (selectionChange)="renderTable($event)">
            <mat-option *ngFor="let topping of toppingList" [value]="topping.value" >
              {{topping.name}}</mat-option>
          </mat-select> -->
             
        </section>
    <hr />
    </ng-container>
    <ng-template #renderingContainer></ng-template>
</section>