td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  
    width: 150px;
    }

.table-responsive{
    .mat-column-image{
        .product-image{
            width: 52px;
            height: auto;
        }
    }
}
