
<div class="my-20" fxLayout="row" fxLayoutAlign="space-between center" >
  <div fxLayout="row">
    <mat-icon  class = "export-Icon"  (click)= "exportFile('pdf')" [svgIcon]="'exportpdf'" [matTooltip]= "'Export to PDF'"></mat-icon> 
    <mat-icon   class = "export-Icon"  (click)= "exportFile('csv')" [svgIcon]="'exportexcel'" [matTooltip]= "'Export to CSV'"></mat-icon> 
  </div>
<mat-paginator  [pageSize]="100" (page)="changePage($event)"
      [length]="recordCount" [pageSizeOptions]="[100, 150, 200, 250]" class="ml-auto">
</mat-paginator>
</div>
<section class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
      
        <!-- Reseller Column -->
        <ng-container matColumnDef="Reseller.ResellerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Reseller.ResellerName"> Reseller </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Reseller?.ResellerName" [matTooltipPosition]="'above'"> {{row?.Reseller?.ResellerName || '--' | truncate : truncateTextLength | titlecase}}</td>
        </ng-container>

        <!-- Company Name Column -->
        <ng-container matColumnDef="MerchantAccountSetup.MerchantUserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MerchantAccountSetup.MerchantUserName">Company Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.MerchantUserName" [matTooltipPosition]="'above'"> {{row?.MerchantAccountSetup?.MerchantUserName ||'--' | truncate : truncateTextLength | titlecase}} </td>
        </ng-container>
    
        <!--  Contact Person  Column -->
        <ng-container matColumnDef="ContactPerson">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ContactPerson"> Contact Person </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.ContactPerson"
           [matTooltipPosition]="'above'"> {{row.ContactPerson ||'--' | truncate : truncateTextLength | titlecase}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="MerchantAccountSetup.MerchantEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MerchantAccountSetup.MerchantEmail"> Email </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.MerchantEmail" [matTooltipPosition]="'above'" > {{row?.MerchantAccountSetup?.MerchantEmail ||'--' | truncate : truncateTextLength}} </td>
        </ng-container>

        <!-- Phone Column -->
        <!-- <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Phone" [matTooltipPosition]="'above'">
            <ng-template [ngIf]="row?.Phone" [ngIfElse]="merchantPhone">
              {{row.Phone | mask: '(000) 000-0000' | truncate : truncateTextLength}}
            </ng-template> 
            <ng-template #merchantPhone>--</ng-template>
          </td>
        </ng-container> -->

        <!-- PricingPlan Column -->
        <ng-container matColumnDef="MerchantAccountSetup.PricingTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MerchantAccountSetup.PricingTitle"> Pricing Plan </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.PricingTitle" [matTooltipPosition]="'above'"> {{row?.MerchantAccountSetup?.PricingTitle | truncate : truncateTextLength || 'No Pricing Plan' }} </td>
        </ng-container>
        
        <!--  Boarded Date  Column -->
        <ng-container matColumnDef="BoardedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="BoardedDate"> Boarded Date </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.BoardedDate | date: 'MM/dd/yyyy'" [matTooltipPosition]="'above'"> {{row.BoardedDate | date: 'MM/dd/yyyy'}} </td>
        </ng-container>
          <!--   Status  Column -->
        <ng-container matColumnDef="MerchantAccountSetup.BoardingStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MerchantAccountSetup.BoardingStatus">Status</th>
          <td mat-cell *matCellDef="let row;let ind = index"> 

             <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
                <mat-chip-list>
                <mat-chip class="py-4 px-16 fuse-white-fg"
                [ngClass]=" (row?.MerchantAccountSetup?.BoardingStatus ==  'Complete') ? 
                'green-600' :  (row?.MerchantAccountSetup?.BoardingStatus ==  'Restricted') ?
                 'red-500'  :  (row?.MerchantAccountSetup?.BoardingStatus ==  'Rejected') ? 
                 'blue-grey-400'  :  (row?.MerchantAccountSetup?.BoardingStatus ==  'RestrictedSoon') ? 
                 'lime-500'  :  (row?.MerchantAccountSetup?.BoardingStatus ==  'InActive') ? 
                 'orange-500' : 'orange-500'">
                 <small>
                   {{row?.MerchantAccountSetup?.BoardingStatus || '--'}} 
                   <mat-icon>{{(row?.MerchantAccountSetup?.BoardingStatus == 'Complete') ?
                  'check' : (row?.MerchantAccountSetup?.BoardingStatus == 'Rejected') ?
                  'cancel' : (row?.MerchantAccountSetup?.BoardingStatus == 'Restricted') ?
                  'block' : (row?.MerchantAccountSetup?.BoardingStatus == 'Restricted') ?
                  'schedule' : (row?.MerchantAccountSetup?.BoardingStatus == 'Restricted') ?
                  'person_add_disabled' : 'schedule'}}</mat-icon> 
                 </small>
                </mat-chip>
            </mat-chip-list>
            </ng-template>
             <ng-template #actionControl>
              <div [@fadeIn]>
                <button mat-icon-button matTooltip="Edit Merchant" aria-label="edit"   
                [routerLink]="['/pages/merchant/merchant-edit', row.MerchantId]">
                <mat-icon>edit</mat-icon> 
                </button>
                <button mat-icon-button matTooltip="Resend Email" aria-label="resend"   
                (click)="openDialog(row)">
                <mat-icon>email</mat-icon> 
                </button>
                    <button mat-icon-button matTooltip="Boarding Link" aria-label="link"   
                (click)="boardingLink(row)">
                <mat-icon>link</mat-icon> 
                </button>
              </div>
            </ng-template>
            </td>
        </ng-container>
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row  (mouseenter)="actionControlOnHover = i"  (mouseleave)="actionControlOnHover = -1" 
        *matRowDef="let row; columns: displayedColumns;let i = index">
        </tr>
    </table>
</section>



<ng-template #boardingLinkDialog>
    <div class="dialog-content-wrapper">
      <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title">Merchant Boarding Link</span>
          <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <div mat-dialog-content class="p-24 m-0">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Boarding Link</mat-label>
            <input type="text" matInput [readonly]="true" [value]="merchantData.EmailBody">
            <button mat-icon-button matTooltip="Copy to clipboard" matSuffix [cdkCopyToClipboard]="merchantData.EmailBody"><mat-icon>file_copy</mat-icon></button>

        </mat-form-field>
          
      
      </div>
      </div>
  
  
  </ng-template>
  <app-scroll-bottom></app-scroll-bottom>