td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    width: 150px;
    }
    small{
        mat-icon{
            height: 12px;
            width: 10px;
            vertical-align: middle;
            font-size: 100%;
        }
    }

 