.overLaybg{
    background: rgba(9, 30, 66, 0.54);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.headingDispute{
    padding:15px;
}

.lockIcon{
    font-size: 150px;margin-right: 150px;
}
.chip{
    border-radius: 50px;
}
.cusIcon{
    vertical-align: middle!important;
    height: 40px!important;
    width: 40px!important;
}
.inlineFormfield{
    display: block !important;
}
.datePickerbtn{
    margin-top:5px;
    width:89px;
    font-size:11px;
    margin-left:2px;
}