<section class="fraudDashboardList w-100-p">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Fraud Dashboard</h2>
        
    </div>
    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <mat-form-field appearance="outline">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" >
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker  (opened)="onOpen()" ></mat-date-range-picker>
        </mat-form-field>
        <div style="display: none">
            <div class="datepicker-footer" #datepickerFooter>
                <button class="datePickerbtn"
                *ngFor="let range of ranges"
                mat-raised-button >{{range.label}}</button>
            </div>
        </div>
    </div>
    <app-fraud-dashboard-table></app-fraud-dashboard-table>
</section>
