<section class="change-password w-100-p">
    <h2>Change Password</h2>
    <hr />
    <div class="outer-layer mt-20 p-20">
        <form fxLayout="column" name="changePasswordForm" [formGroup]="changePasswordForm">
            <div  fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'"
                    [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Old Password</mat-label>
                    <input 
                
                    type="password" 
                    [type]="hideold ? 'password' : 'text'"
                    nospace matInput formControlName="Password" required>
                    <button mat-icon-button matSuffix (click)="hideold = !hideold" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideold">
                        <mat-icon>{{hideold ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePasswordForm.get('Password').hasError('required')">
                        Old Password is required!</mat-error>
                </mat-form-field>

            
            </div>
            <div fxFlex="1 0 auto">
                <mat-form-field appearance="outline"  fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'"
                    [ngClass.gt-sm]="'pr-4'">
                    <mat-label>New Password</mat-label>
                    <input 
                    [type]="hidenew ? 'password' : 'text'"
                    (focus)="showValidator = true;"
                    (focusout)="showValidator = false;"
                    type="password" 
                    nospace matInput 
                    [minlength]="8"
                     formControlName="NewPassword" 
                     required #newPassword> 
                     <button mat-icon-button matSuffix (click)="hidenew = !hidenew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidenew">
                        <mat-icon>{{hidenew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            
                <div *ngIf="showValidator" class="mat-card p-20 ml-20" fxLayout="column"> 
                <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="!(newPassword.value.length < 8) ? 'green-A400-fg' : 'red-500-fg'">{{(newPassword.value.length < 8) ? 'cancel' : 'check_circle' }}</mat-icon>  <span class="ml-4">A minimum of eight characters</span></div>
                <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="(!newPassword.value.match(matchLowercase)) ? 'red-500-fg'  :  'green-A400-fg' ">{{(!newPassword.value.match(matchLowercase)) ? 'cancel' : 'check_circle' }}</mat-icon>   <span class="ml-4">1 lowercase Letter (a-z)</span></div>
                <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="(!newPassword.value.match(matchUppercase)) ? 'red-500-fg' :  'green-A400-fg' ">{{(!newPassword.value.match(matchUppercase)) ? 'cancel' : 'check_circle' }}</mat-icon> <span class="ml-4">1 uppercase Letter (A-Z)</span></div>
                <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="(!newPassword.value.match(matchNumber)) ? 'red-500-fg' :  'green-A400-fg' ">{{(!newPassword.value.match(matchNumber)) ? 'cancel' : 'check_circle' }}</mat-icon> <span class="ml-4">1 digit (0-9)</span></div>
                <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="(!newPassword.value.match(matchspecialCase)) ? 'red-500-fg':  'green-A400-fg' ">{{(!newPassword.value.match(matchspecialCase)) ? 'cancel' : 'check_circle' }}</mat-icon> <span class="ml-4">1 special character (!@#()$%^&*)</span></div>
                </div>

            </div>

            <div fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'"
            [ngClass.gt-sm]="'pl-4'">
            <mat-label>Confirm New Password</mat-label>
            <input 
            [type]="hidenewc ? 'password' : 'text'"
            (focus)="showValidatorconfirm = true;"
            (focusout)="showValidatorconfirm = false;"
            
            type="password" nospace formControlName="ConfirmPassword" #ConfirmPassword matInput required>
            <button mat-icon-button matSuffix (click)="hidenewc = !hidenewc" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidenewc">
                <mat-icon>{{hidenewc ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

        </mat-form-field>

        <div *ngIf="showValidatorconfirm" class="mat-card p-20 ml-20 h-60" fxLayout="column"> 
            <div fxLayout="row">   <mat-icon class="h-10 w-10" [ngClass]="(newPassword.value != ConfirmPassword.value ) ?  'red-500-fg' :   'green-A400-fg' ">{{(newPassword.value != ConfirmPassword.value) ? 'cancel' : 'check_circle' }}</mat-icon> <span class="ml-4">Password mismatch</span></div>
        </div>
            </div>


      
    


        
            <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch"
                [ngClass.sm]="'mt-24'">
                <!-- <button mat-raised-button class="my-4 accent-alpha-bg" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
                    aria-label="Reset" type="reset">
                    Reset
                </button> -->
                <button mat-raised-button class="my-4" [disabled]="changePasswordForm.invalid || (newPassword.value != ConfirmPassword.value)" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent"
                    aria-label="Update" (click)="updatePassword()">
                    Change Password
                </button>
            </div>
        </form>

        <mat-divider class="mt-20"></mat-divider>
<div class="twofactor">
        <h3>Two-factor Authentication</h3>
     <p>two-factor authentication is an optional but highly recommended security feature that adds an extra layer of protection to your account.</p>
     <p>In addition to your normal credentials, you'll also need to provide a six-digit security code whenever you sign in or link a new computer, phone or tablet.</p>
   
     <mat-slide-toggle
     [checked]="false"
     [disabled]="true">
 Disabled
 </mat-slide-toggle>
    </div>
    </div>
</section>